.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.connectBtn {
  margin-top: 10px;
}
.infoContainer {
  width: 750px;
  margin: 0 auto;
  text-align: left;
  padding-top: 60px;
}
.transferCon input{
  width: 300px;
}
.transferItem {
  margin-top: 10px;
}
.transferCon button{
  margin-top: 10px;
}
